<ion-header [translucent]="true" class="ion-no-border header"
  style="--background: transparent;">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">

    <div *ngFor="let item of devicesTuya" class="flex content-center w-100">
      <!-- <ion-button class="button2" *ngIf="item.ha_type != 'scene'" (click)="switchOnOff(item)">{{item.name}}</ion-button> -->
      <div class="button1" style="margin-bottom: 8px;"
        *ngIf="item.ha_type != 'scene'" (click)="switchOnOff(item)">{{item.name}}</div>
      <div class="button2" style="margin-bottom: 8px;"
        *ngIf="item.ha_type != 'scene'" (click)="switchOnOff(item)">{{item.name}}</div>
    </div>
  </div>

</ion-content>
