<ion-tabs>
  <div class="bottom-tab menunavegacao">

    <div class="bbar-item" [routerLink]="['/tabs/tab1']" routerLinkActive="router-link-active">
      <ion-icon name="home-outline"></ion-icon>
    </div>

    <div class="bbar-item" [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active">
      <ion-icon name="apps-outline"></ion-icon>
    </div>

    <div class="bbar-item" [routerLink]="['/tabs/tab3']" routerLinkActive="router-link-active">
      <ion-icon name="settings-outline"></ion-icon>
    </div>

  </div>
</ion-tabs>
